<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2020 Peter Kenji Yamanaka
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pyamsoft.zaptorch">

    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <!-- For TorchOffService JobIntentService requirement -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ZapTorch"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.ZapTorch"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Support super wide screen -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ZapTorch.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".service.error.CameraErrorExplanation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.ZapTorch.Error"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <service
            android:name=".service.monitor.VolumeMonitorService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/zaptorch" />
        </service>

        <!-- Export service bound as Job service -->
        <service
            android:name=".service.torchoff.TorchOffService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Receive torch off requests from notification and launch TorchOffService -->
        <receiver
            android:name=".service.torchoff.TorchOffReceiver"
            android:exported="false" />

    </application>

</manifest>
